body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000; /* Colocado abaixo do modal */
  overflow: hidden;
}

.mainContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
 font-size: 2.5rem;
 line-height: 1;
 position: relative;
 z-index: 1;
 color: #444;
}

.title::after {
  content: '';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: .2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
